<div class="passenger-form">
  <h3>Add new passenger</h3>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate>
    <div class="form-group">
      <label for="fullName">Full Name : </label>
      <input
        type="text"
        name="fullName"
        id="fullName"
        [(ngModel)]="passenger.fullName"
        required
      />
    </div>

    <div class="form-group">
      <label for="checkedIn">CheckedIn : </label>
      <input
        type="checkbox"
        name="checkedIn"
        id="checkedIn"
        [(ngModel)]="passenger.checkedIn"
      />
    </div>

    <div *ngIf="passenger.checkedIn" class="form-group">
      <label for="checkInDate">Check-In Date: </label>
      <input
        type="datetime-local"
        name="checkInDate"
        id="checkInDate"
        [(ngModel)]="passenger.checkInDate"
      />
    </div>

    <button type="submit">Save</button>
  </form>
</div>
